<div class="container">
  <h2>Téléversement de reçu</h2>
  <p>Veuillez insérer le petit reçu</p>
  <!-- Sélection de l'image du reçu -->
  <input type="file" (change)="onFileChange($event)" accept="image/*" />
  <button (click)="onUpload()" [disabled]="!file" class="btn-main">
    Téléverser et générer le reçu
  </button>


  <!-- Bouton pour rediriger vers une autre page -->
<button class="btn-redirect"><a href="/wizall">Extraire les informations du reçu depuis un autre format</a></button>

  <div *ngIf="loading" class="loading">Chargement...</div>

  <!-- Affichage des détails après extraction -->
  <div *ngIf="receiptData" class="card p-4 shadow mt-4">
    <h3 class="text-center">Détail de la Facture</h3>

    <!-- Détails de l'agent et de la transaction -->
    <div class="mb-4">
      <h5><strong>Agent :</strong> {{ receiptData['Agent'] }}</h5>
      <h5><strong>Tel :</strong> {{ receiptData['Tel'] }}</h5>
      <p><strong>Date :</strong> {{ receiptData['Date'] }}</p>
    </div>

    <!-- Détails du bénéficiaire -->
    <div class="mb-4">
      <h5><strong>Bénéficiaire</strong></h5>
      <p><strong>Code :</strong> {{ receiptData['Code'] }}</p>
      <p><strong>Commentaire :</strong> {{ receiptData['Commentaire'] }}</p>
    </div>

    <!-- Détails de la transaction -->
    <div class="mb-4">
      <h5><strong>Transaction</strong></h5>
      <p><strong>ID Transaction :</strong> {{ receiptData.TransactionId }}</p>
      <p><strong>Montant :</strong> {{ receiptData['Montant'] | currency:'CFA' }}</p>
      <p><strong>Frais (1%) :</strong> {{ receiptData['Frais'] | currency:'CFA' }}</p>
      <h4><strong>Total :</strong> {{ receiptData['Total'] | currency:'CFA' }}</h4>
    </div>

    <!-- Bouton pour télécharger le reçu -->
    <button (click)="generateReceipt()" class="btn-main">Télécharger le reçu PDF</button>
  </div>
</div>
