.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 20px;
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
}

button:hover {
  background-color: #0056b3;
}

.loading {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: #007bff;
}

strong {
  color: #007bff;
}

.mb-4 {
  margin-bottom: 20px;
}

.text-end {
  text-align: end;
}

.mt-4 {
  margin-top: 20px;
}

p {
  margin: 10px 0;
  color: #555;
}

h4 {
  margin-top: 20px;
}

h5 {
  margin: 5px 0;
}


input[type="file"] {
  margin: 15px 0;
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-redirect{
  a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}